.cardContainer{
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10%;
    width: 20%;
    height: 40%;
    margin: 2% 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow:  10px 10px 10px #000000;
    font-size: 1.5vh;
    transition: all 0.2s ease-in-out;
}
.cardContainer:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
.cardContainer>img{
    width: 80%;
}
.cardContainer>p{
    width: 80%;
    height: 10vh;
    font-size: 1.5vh;
}
.cardButtons{
    box-sizing: border-box;
    margin: 3%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cardButtons>button{
    margin: 5%;
    border: none;
    border-radius: 10%;
    background-color: #1652f0;
    box-sizing: border-box;
    padding: 5%;
    color: white;
    transition: all 0.2s ease-in-out;
    font-size: 2vh;
}
.cardButtons>button:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

@media only screen and (min-width:531px) and (max-width:1325px){
    .cardContainer{
        width: 40%;
        height: 50%;
    }
}

@media only screen and (max-width: 530px){
    .cardContainer{
        width: 60%;
        height: 50%;
    }
    .cardContainer>p{
        width: 80%;
        height: 10vh;
        font-size: 1.2vh;
    }
}
