.homepageContainer{
    background-image: url("./Images/background.jpg");
    box-sizing: border-box;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}
.imageContainerBox{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageContainer{
    box-sizing: border-box;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageContainer>img{
    width: 80%;
    border-radius: 50%;
    box-shadow:  10px 10px 10px #000000;
    transition: all 0.2s ease-in-out;
}
.imageContainer>img:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
.textContainerBox{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textContainer{
    box-sizing: border-box;
    padding: 5%;
    background: white;
    margin: 10%;
    border-radius: 10%;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-size: 1.6vh;
    box-shadow:  10px 10px 10px #000000;
    transition: all 0.2s ease-in-out;
}
.textContainer:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
.textElement1{
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .homepageContainer{
        display: flex;
        flex-direction: column-reverse;
    }
    .imageContainerBox{
        height: 45vh;
    }
    .imageContainer>img{
        width: auto;
        height: 35vh;
    }
    .textContainerBox{
        height: 45vh;
    }
    .textContainer{
        height: 35vh;
    }
}

@media only screen and (min-width: 481px) and (max-width: 912px){
    .homepageContainer{
        display: flex;
        flex-direction: column-reverse;
    }
    .imageContainerBox{
        height: 45vh;
    }
    .imageContainer>img{
        width: auto;
        height: 35vh;
    }
    .textContainerBox{
        height: 45vh;
    }
    .textContainer{
        height: 35vh;
    }
}

@media only screen and (min-width: 1921px){
    .imageContainer>img{
        width: 25vw;
    }
}